.App {
  text-align: center;
}

.App-body-work {
  background-color: #d14646;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body-shortBreak {
  background-color: #406397;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body-longBreak {
  background-color: #329658;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Timer-container-work {
  min-width: 50vh;
  background-color: #e06262;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
  padding: 12px;
  padding-top: 6px;
}

.Timer-container-shortBreak {
  min-width: 50vh;
  background-color: #4d75b1;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
  padding: 12px;
  padding-top: 6px;
}

.Timer-container-longBreak {
  min-width: 50vh;
  background-color: #3eaf6a;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
  padding: 12px;
  padding-top: 6px;
}

.App-link {
  color: #61dafb;
}
