.App-header-work {
  background-color: #d14646;
  overflow: hidden;
  padding: 20px 20px;
}

.App-header-shortBreak {
  background-color: #406397;
  overflow: hidden;
  padding: 20px 20px;
}

.App-header-longBreak {
  background-color: #329658;
  overflow: hidden;
  padding: 20px 20px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.header a:hover {
  color: white;
}

.header a.active {
  background-color: white;
  color: black;
}

.header-right {
  float: right;
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
