.timerNumbers {
  &:hover {
    cursor: pointer;
  }
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 100px;
  font-weight: 500;
}

.timerButton {
  min-width: 5.5vh;
  background-color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 0.125rem;
  border: 0.0625rem solid #ced4da;
  font-family: Segoe UI;
  color: black;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.timerButton:hover {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

.clicked {
  transform: translateY(2px);
}
